html {
	font-family: 'Comic Sans';
}

i#fill{
	color:#00C385;
}

table td {
	padding-bottom: 5px;
	padding-right: 15px;
	border: 10px;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.toolbox{
  /* Once it gets to a certain width, hide this div */
  text-align: center;
}

.lightbox{
  display: none;
}

#toolbox-table{
  text-align:center;
  margin: 0 auto;

}

#resume-button{
  transition: background-color 0.3s ease;
  background-color: rgba(0, 195, 133, 0.6);
  border-radius: 25px;
  color: white;
  width: 130px;
}

#resume-button:hover{
  background-color: rgba(0, 195, 133, 0.9);
}

.logo{
  width: 60px;
  margin: 20px 20px 0 20px;
}

.inv-img-even{
  width:20%;
  float:left;
  /*margin-bottom: 80px;*/
}

.inv-text-even{
  width:70%;
  float:right;
  /*margin-bottom: 80px;*/
}

.inv-img-odd{
  width:20%;
  float:right;
  /* margin-bottom: 80px;*/
}

.inv-text-odd{
  width:70%;
  float:left;
  /*margin-bottom: 80px;*/
}

.involvements{
  width: 100%;
}

#viryl-header{
  width:100%;
}

#viryl-title { 
   position: absolute; 
   top: 232px; 
   left: 0; 
   width: 100%; 
}
#viryl-img{
  width: 100%;
  overflow: auto;
}

#portrait{
  margin: 0 auto;
  max-width: 600px;
}

#inv-container{
  margin-bottom: 60px;
}

#inv-circle{
  border-radius: 50%;
}

/*#about{
  padding-bottom: 0px
}
#portfolio{
  padding-top: 100px;
}*/

h2#viryl-titles{
  color:#00C385;
}
h3#viryl-titles{
  color:gray;
}

.viryl-content{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}


#topnav{
   margin-top: 0px;
  padding-top: 0px;
}

h1#test{ 
	color: white;
	font-size: 70px;
    position: absolute; 
    top: 300px; 
    left: 0; 
    width: 100%; 
}

p#test{ 
	color: white;
	font-size: 0px;
    position: absolute; 
    top: 400px; 
    left: 0; 
    width: 100%; 
}

h3.viryl{
	color: white;
}

header, .full-width {
  width: 100%;
  background: #ccc;
}
.viryl-header{
  width:100%;
}

#business-card{
  padding: 0px 30px 30px 30px;
}

.container{
  margin-top: 0px;
  padding-top: 0px;
}

.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


